version: '3.8'

services:

  user-mysql:
    image: mysql:8.0
    container_name: user-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: user_db
      MYSQL_USER: Mahmoud
      MYSQL_PASSWORD: 123456789
    ports:
      - "33062:3306"
    volumes:
      - user_mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net

  user-service:
    build: .
    container_name: user-service
    ports:
      - "8082:8080"
    depends_on:
      user-mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://user-mysql:3306/user_db
      SPRING_DATASOURCE_USERNAME: Mahmoud
      SPRING_DATASOURCE_PASSWORD: 123456789
    networks:
      - microservices-net  # Add network
volumes:
  user_data:

networks:
  microservices-net:
    external: true